@model List<Review>


@foreach (Review review in Model)
{
    <div class="col col-md-12">
        <blockquote>
            <p>@review.Data</p>
            <h5>@review.Score / 10</h5>
            <footer>@review.Email<cite title="@review.Email"></cite></footer>
            <p><a asp-action="Delete" asp-controller="Reviews" asp-route-id="@review.Id" class="btn btn-danger"> Ta bort</a></p>
        </blockquote>
    </div>
}

@if (Model.Count == 0)
{
    <div class="col col-md-12">
        <hr />
        <p>Inga har skrivit up sit på detta event...</p>
    </div>
}
